<h1><%= @catalog.name %> admin</h1>
<hr>

<h3>Catalog elements</h3>
<table>
  <tr>
    <th>Element</th>
    <th>Description</th>
  </tr>
  
  <% @catalog.schema_elements.where(element_type:'obj').each do |e| %>
    <tr>
      <td><%= link_to e.name, catalog_element_admin_path(catalog:@catalog.url, element:e.name) %></td>
      <td><%= e.description %></td>
    </tr>
  <% end %>

</table>

<hr>
<h3>Catalog lists</h3>

<p>...</p>

<hr>
<h3>Users</h3>

<p style="font-size: 80%; color: #666; font-weight: bold;">Possibility to add/edit users by a project administrator. These users could be other project admins or project editors.</p>