<h1><%= @catalog.name %></h1>
<p><%= @catalog.description %></p>


<!-- 
Check out the following post to integrate user-customizable Liquid templates
https://richonrails.com/articles/liquid-templating-engine

We also need to figure out how to define the default catalog template,
and the page templates themselves. The catalog template should not be 
editable by a project manager, only a sys admin.
-->