<% provide(:extra_nav) do %>
  <%= render("simple_search/form",
      :controller => "simple_search",
      :action => "index",
      :display_advanced_search => true) %>
<% end %>

<% if @catalog.custom_root_page.nil? %>

  <% provide(:title, @catalog.name) %>
  <p>
    <%= t(".welcome", :catalog => @catalog.name) %>
  </p>

<% else %>
  <%= render partial:'pages/content', locals: {page: @catalog.custom_root_page} %>
<% end %>
