<h1>viim system administration</h1>
<hr>
<% if notice %>
<div class="alert alert-info"><%= notice %></div>
<% end %>

<h2>Landing page</h2>
  <div class="sysadmin-panel">
    <table>
      <tr>
        <td><label><input type="radio" name="landingpage" value="list" checked> List of database instances</label></td>
        <td><button class="btn btn-xs btn-default">Customize...</button></td>
      </tr>
      <tr>
        <td><label><input type="radio" name="landingpage" value="redirect"> Redirect to a database instance</label></td>
        <td>
          <select class="form-control input-sm" disabled>
            <option disabled>Select instance...</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><label><input type="radio" name="landingpage" value="custom"> Custom landing page</label></td>
        <td><button class="btn btn-xs btn-default" disabled>Define...</button></td>
      </tr>
    </table>
  </div>
<hr>

<h2>Database instances</h2>
<%= render 'instances/list' %>
<hr>

<h2>Users</h2>
<p>...</p>

