<% if catalog.item_types.any? %>
  <%= f.collection_select(
        :item_type,
        catalog.item_types.select { |it| it.fields.where(:type => 'Field::Geometry').count > 0 },
        :id,
        :name,
        {:include_blank => false}
      ) %>

  <%= f.number_field(
        :height,
        :label => t('.height_label'),
        :help => t('.height_default', height: Container::Map::DEFAULT_MAP_HEIGHT)
      ) %>
<% else %>
  <div class="alert alert-warning">
    <%= t('catalog_admin.containers.item_type_warning') %>
  </div>
<% end %>
