<% provide(:title, t('.edit_container', container: @container.slug)) %>

<div class="card-body">
  <%= bootstrap_form_for(
      @container,
      :as => :container,
      :url => { :action => :update }
      ) do |f| %>

    <%= render("common_form_fields", :f => f) %>
  <% end %>
</div>
