language: ruby
dist: bionic
cache:
  - yarn
  - bundler
rvm:
  - 2.6.5
env:
  # test/mailers, test/functional, test/controllers
  - TEST_SUITE=functionals
  # test/integration
  - TEST_SUITE=integration
  # test/unit, test/models, test/helpers
  - TEST_SUITE=units
before_install:
  - sudo apt-get install -y imagemagick
before_script:
  - bundle exec bin/setup
  - yarn install
script:
  - "NO_COVERAGE=1 bundle exec rake test:$TEST_SUITE"
services:
  - redis-server
addons:
  postgresql: '10'
  chrome: stable
  apt:
    update: true
notifications:
  slack:
    rooms:
      # Slack notifications encrypted key
      secure: kv1k/U9+RMI38UbYhLjozs1/Qz40gNJDaKKj6m90EfmKOFIh4yOSLOhif/1kfXPCBZai+yM2kyiP4SQqW0zF3O1A8D/k5DIWhtqT6zlkswVcwaCtXFuOaPFyAiyLKpnzX/R/K30dUe4fdvAzmsRY991EXXzJE2brtHP0pTzHaGGdVZZOc5q5BOU/wfPgPtXdR1HszTiwypWBFVOZncJN/0psPyO9gg/P5KoSCg9GBrQitjFafghvOQfmhzTSGbI9Fig1+KvCzjwRYpxjr0pGzLhPL4SBmwUF11+U11sTvAH27IA9YsHcmjqVS0CcFntsgwX7HKeDGSGx4daNGhyBB5je/Hcxt64FEs9X+/R7r2voWag2FvGyWI451L+8jxnUKev8Qhl+dWSMG3ekdH3F5M/weCpRhR8d3h/5/N7zgDe5/v2ZVTKIqVx+6HooS7fVyawkTBFEUe+1I6i+G6NWVI2N7Nym6NWaP1/kg2FcnPTiCgxsIAqkgqBUX+G0N3xPgTxDzNnFhCLuthcv5lK89M4fHJ7AQNotgQP3DB1b1mMmAs3NLa5Ny7xFxK/PFSzjMmB8zws6fFRJQV3QV1NdKfZWSUigXJ5P0u6r83fYolWkTjPkueLq9Q56NI9AVHdgKsJfTvlQbZKS5oCJkqfVnPc+W9FQwW30bkvCHRhVb2w=
