networks:
  catima-net:
    driver: bridge

name: catima

services:
  catima-app:
    env_file:
      - ./.env
    networks:
      - catima-net
    healthcheck:
      test: curl --fail http://127.0.0.1:3000/health || exit 1
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10m
    depends_on:
      catima-postgres:
        condition: service_healthy
      catima-redis:
        condition: service_healthy
    container_name: catima-app

  catima-worker:
    env_file:
      - ./.env
    networks:
      - catima-net
    depends_on:
      catima-postgres:
        condition: service_healthy
      catima-redis:
        condition: service_healthy
      catima-app:
        condition: service_healthy
    container_name: catima-worker

  catima-postgres:
    image: imresamu/postgis:18-3.6-alpine
    ports:
      - "127.0.0.1:5410:5432"
    env_file:
      - ./.env
    networks:
      - catima-net
    volumes:
      - postgres-data:/var/lib/postgresql
    healthcheck:
      test: pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB} -h 127.0.0.1
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 30s
    container_name: catima-postgres

  catima-redis:
    image: redis:8.4-alpine
    env_file:
      - ./.env
    networks:
      - catima-net
    command: redis-server
    volumes:
      - redis-data:/data
    expose:
      - "6379"
    healthcheck:
      test: redis-cli ping
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 30s
    container_name: catima-redis

volumes:
  redis-data:
  postgres-data:
