<div class="col-lg-2">
  <%= render_and_or_exclude_select(f, value&.dig("field_condition")) %>
</div>
<div class="col-lg-10">
  <%= f.collection_select(
          :exact,
          field_presenter(nil, field).select_values,
          :last,
          :first,
          {
            :include_blank => true,
            :hide_label => true,
            :selected => value&.dig("exact")
          },
          :multiple => false
        )
  %>
</div>
