<div class="search-container col-lg-12">
  <%= react_component('ChoiceSetSearchContainer',
                      props: {
                        catalog: field.catalog.slug,
                        itemType: field.item_type.slug,
                        label: t(".any"),
                        items: filter_category_fields(field.search_data_as_hash),
                        categoryInputName: "advanced_search[criteria][#{field.uuid}][0][category_field]",
                        linkedCategoryInputName: "advanced_search[criteria][#{field.uuid}][0][category_criteria]",
                        childChoicesActivatedInputName: "advanced_search[criteria][#{field.uuid}][0][child_choices_activated]",
                        locale: I18n.locale,
                        localizedDateTimeData: t('date'),
                        childChoicesActivatedPlaceholder: t('advanced_searches.fields.choice_set_search_field.child_choices_activated_placeholder'),
                        childChoicesActivatedYesLabel: t('advanced_searches.fields.choice_set_search_field.child_choices_activated_yes'),
                        childChoicesActivatedNoLabel: t('advanced_searches.fields.choice_set_search_field.child_choices_activated_no'),
                        searchPlaceholder: t('advanced_searches.fields.choice_set_search_field.select_placeholder'),
                        filterPlaceholder: t('advanced_searches.fields.choice_set_search_field.filter_placeholder'),
                        srcId: "advanced_search_criteria_#{field.uuid}_0_id",
                        srcRef: "advanced_search_criteria_#{field.uuid}_0_exact",
                        inputName: "advanced_search[criteria][#{field.uuid}][0][exact]",
                        selectConditionName: "advanced_search[criteria][#{field.uuid}][0][condition]",
                        selectCondition: field.search_conditions_as_hash(I18n.locale),
                        multiple: true,
                        fieldConditionName: "advanced_search[criteria][#{field.uuid}][0][field_condition]",
                        fieldConditionData: field.search_field_conditions_as_hash
                      },
                      prerender: false) %>
</div>
