<div class="search-container col-lg-12">
  <%=
    react_component('AdvancedChoiceSetSearch/components/ChoiceSetSearchContainer',
                    {
                      catalog: field.catalog.slug,
                      itemType: field.item_type.slug,
                      label: t(".any"),
                      choiceSet: field.choice_set.attributes.merge(
                        {
                          multiple: field.multiple?,
                          fetchUrl: react_choices_for_choice_set_url(
                            field.catalog.slug,
                            locale: I18n.locale,
                            item_type_slug: field.item_type.slug,
                            field_uuid: field.uuid,
                            choice_set_id: field.choice_set_id
                          ),
                        }),

                      fieldUuid: field.uuid,

                      #  retier tous ces truc inutiles
                      categoryInputName: "advanced_search[criteria][#{field.uuid}][0][category_field]",
                      childChoicesActivatedInputName: "advanced_search[criteria][#{field.uuid}][0][child_choices_activated]",
                      inputName: "advanced_search[criteria][#{field.uuid}][0][exact]",
                      selectConditionName: "advanced_search[criteria][#{field.uuid}][0][condition]",
                      fieldConditionName: "advanced_search[criteria][#{field.uuid}][0][field_condition]",
                      fieldConditionData: field.search_field_conditions_as_hash,
                      defaultValues: value,

                      # Localization.
                      locale: I18n.locale,
                      localizedDateTimeData: t('date'),
                      childChoicesActivatedPlaceholder: t('advanced_searches.fields.choice_set_search_field.child_choices_activated_placeholder'),
                      childChoicesActivatedYesLabel: t('advanced_searches.fields.choice_set_search_field.child_choices_activated_yes'),
                      childChoicesActivatedNoLabel: t('advanced_searches.fields.choice_set_search_field.child_choices_activated_no'),
                      searchPlaceholder: t('advanced_searches.fields.choice_set_search_field.select_placeholder'),
                      filterPlaceholder: t('advanced_searches.fields.choice_set_search_field.filter_placeholder'),
                    })
  %>
</div>
