<div class="search-container col-lg-12">
    <%= react_component('AdvancedSearch/components/DateTime',
      {
        fieldUuid: field.uuid,
        inputStart: json_hidden_field_id(f, field),
        inputEnd: json_hidden_field_id(f, field),
        selectCondition: field.search_conditions_as_hash(I18n.locale),
        fieldConditionData: field.search_field_conditions_as_hash,
        format: field.format,
        defaultValues: value,
        locale: I18n.locale,
      }) %>
</div>
