<div class="row search-container">
  <div>&nbsp</div>
  <div class="col-md-12">
      <%= react_component('DateTimeSearch',
        props: {
          catalog: field.catalog.slug,
          itemType: field.item_type,
          label: t(".after"),
          startLabel: t(".start_date"),
          endLabel: t(".end_date"),
          locale: I18n.locale,
          localizedDateTimeData: t('date'),
          srcId: "advanced_search_criteria_#{field.uuid}_id",
          srcRef: "advanced_search_criteria_#{field.uuid}_exact",
          startDateInputName: "advanced_search[criteria][#{field.uuid}][start][exact]",
          endDateInputName: "advanced_search[criteria][#{field.uuid}][end][exact]",
          format: field.format,
          inputStart: json_hidden_field_id(f, field),
          inputEnd: json_hidden_field_id(f, field),
          selectConditionName: "advanced_search[criteria][#{field.uuid}][condition]",
          selectCondition: field.search_conditions_as_hash(I18n.locale),
          displayFieldCondition: i.positive?,
          fieldConditionName: "advanced_search[criteria][#{field.uuid}][field_condition]",
          fieldConditionData: field.search_field_conditions_as_hash
        },
        prerender: false) %>
  </div>
</div>
