<div class="search-container col-lg-12">
    <%= react_component('AdvancedSearch/components/Container',
      {
        fieldUuid: field.uuid,
        defaultValues: value,
        childComponent: 'AdvancedSearch/components/Reference',
        childProps: {
          catalog: field.catalog.slug,
          itemType: field.related_item_type.slug,
          locale: I18n.locale,
          selectCondition: field.search_conditions_as_hash,
          fieldConditionData: field.search_field_conditions_as_hash,
        }
      }) %>
</div>
