<div class="row search-container">
    <div>&nbsp</div>
    <div class="col-md-12">
      <%= react_component('ReferenceSearchContainer',
        props: {
          catalog: field.catalog.slug,
          parentItemType: field.field_set.slug,
          itemType: field.related_item_type.slug,
          field: field.slug,
          locale: I18n.locale,
          multiple: field.multiple?,
          noOptionsMessage: t("catalog_admin.items.reference_editor.no_options"),
          inputName: "advanced_search[criteria][#{field.uuid}][0][exact]",
          referenceFilterName: "advanced_search[criteria][#{field.uuid}][0][filter_field_slug]",
          srcRef: "advanced_search_criteria_#{field.uuid}_0_exact",
          itemTypeSearch: false,
          selectConditionName: "advanced_search[criteria][#{field.uuid}][0][condition]",
          selectCondition: field.search_conditions_as_hash,
          displayFieldCondition: i.zero?,
          fieldConditionName: "advanced_search[criteria][#{field.uuid}][0][field_condition]",
          fieldConditionData: field.search_field_conditions_as_hash
        },
        prerender: false) %>
    </div>
</div>
