<% if policy(model).edit? %>
  <li>
    <%= link_to(
            fa_icon("pencil", :text => t("edit")),
            edit_catalog_admin_advanced_search_configuration_path(model.catalog.slug, I18n.locale, model.id)
        )%>
  </li>
<% end %>
<% if policy(model).destroy? %>
  <li>
    <%= link_to(
            fa_icon("trash-o", :text => t("delete")),
            catalog_admin_advanced_search_configuration_path(model.catalog.slug, I18n.locale, model.id),
            :method => :delete,
            :data => {
                :confirm => t("delete_confirm", model: model.title)
            }
        )%>
  </li>
<% end %>
