<li>
  <%= link_to(
          fa_icon('pencil', text: t('edit')),
          { action: :edit, controller: 'catalog_admin/item_views',
            item_type_slug: model.item_type.slug, id: model.id }
      )%>
</li>
<li>
  <%= link_to(
          fa_icon("trash-o", :text => t('delete')),
          catalog_admin_item_view_path(catalog, I18n.locale, model.item_type.slug, model),
          :method => :delete,
          :data => {
              :confirm => t('delete_confirm', :model => model.name)
          }
      )%>
</li>
