<% if policy(model).edit? %>
  <li>
    <%= link_to(
            fa_icon("pencil", :text => t("edit")),
            edit_catalog_admin_item_path(model.catalog, I18n.locale, model.item_type, model)
        ) %>
  </li>
<% end %>
<% if policy(model).duplicate? %>
  <li>
    <%= link_to(
            fa_icon("files-o", :text => t("duplicate")),
            duplicate_catalog_admin_item_path(model.catalog, I18n.locale, model.item_type, model)
        ) %>
  </li>
<% end %>
<% if policy(model).destroy? %>
  <li>
    <%= link_to(
            fa_icon("trash-o", :text => t("delete")),
            catalog_admin_item_path(model.catalog, I18n.locale, model.item_type, model),
            :method => :delete,
            :data => {
                :confirm => t("delete_confirm", model: default_display_name(model))
            }
        ) %>
  </li>
<% end %>
