<li>
  <%= link_to edit_admin_template_storage_path(model) do %>
    <%= fa_icon("pencil", :text => "Edit") %>
  <% end %>
</li>
<li>
  <%= link_to [:admin, model], :method => :delete, :data => { :confirm => "Are you sure you want to delete this template?" } do %>
    <%= fa_icon("trash-o", :text => "Delete") %>
  <% end %>
</li>
