<% provide(:title, "CATIMA admin | stats") %>

<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-right">
      <%= link_to(admin_dashboard_path) do %>
        <%= fa_icon(:"arrow-left", :text => "Catima admin dashboard") %>
      <% end %>
    </span>
    Stats | <%= @scope %>
  </div>
  <div class="stats-content">
    <%= render("admin/dashboard/stats/" + @scope) %>
  </div>
</div>
