.corpusInfo span {
  color: #73746a;
}

#corpus-persos {
  margin: 0 0 30px;
}

#corpus-persos span {
  color: #73746a;
}

#corpus-persos p {
  margin: 0px;
}

#corpus-details {
  margin: 0 0 10px;
}

#titreOuvrage, #titreOuvrageTrad {
  font-size: 21px;
}

#titreOuvrageLong {
  font-size: 16px;
}

#enLigne {
  display: inline;
}
