<h1>Edit element property</h1>
<%= link_to '< Back', edit_schema_element_path(@schema_field.schema_element) %>
<hr>

<p id="notice"><%= notice %></p>


<%= form_for([@schema_field], html:{ class:'form-horizontal' }) do |f| %>
  <%= render 'form', f: f %>
<% end %>
<hr>


