.line {
  overflow: hidden;
  padding: 1rem 0;
  position: relative;
  z-index: 1;
}

.line__container {
  overflow: hidden;
  padding: 2em 0;
  position: relative;

  &::before { // this is the line vertical line
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 4px;
    background: #8080801f;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.line__group {
  display: flex;
  position: relative;
  z-index: 1;
  min-height: 4rem;
  margin-bottom: 1em;

  .line__group__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    order: 1; // flex order -> place the image after line__content
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background: white;
    border: 1px solid #8080801f;

    &.level-0 {
      border-color: black;
      padding: .5rem 1rem;
    }
    &.level-1 {
      padding: .4rem .8rem;
    }
    &.level-2 {
      padding: 0.3rem .6rem;
    }
    &.level-3 {
      padding: 0.2rem .4rem;
    }
  }

  .line__group__items {
    width: 100%;
    position: relative;
    flex-flow: column;
    margin-top: 3rem;
  }

  .line__group__items__wrapper {
    width: 100%;
    display: flex;
    position: relative;
    flex-flow: column;
    margin-top: 2rem;
  }

  .line__group__item__wrapper {
    display: flex;

    &.odd {
      flex-direction: row-reverse; // for even blocks -> lay out content from right to left
    }
  }

  .line__group__item {
    padding: 1rem;
    width: 35%;
    flex-grow: 0; // prevent element from growing inside its parent
    border: 1px solid #8080801f;
  }
}
