<div id="item_approval" class="alert alert-warning">
  <p>
    <b>This <%= item_type.name %> is awaiting your review.</b>
    Approve it to make it visible to the public.
  </p>
  <p style="margin-top: 14px;">
    <%= link_to(
          fa_icon(:check, :text => "Approve"),
          { :controller => "catalog_admin/approvals", :action => "create" },
          :class => "btn btn-success",
          :data => { :disable_with_spinner => true },
          :method => "POST",
          :remote => true) %>

    <%= link_to(
          "Reject",
          { :controller => "catalog_admin/approvals", :action => "create" },
          :class => "btn btn-default",
          :data => { :disable_with_spinner => true },
          :method => "DELETE",
          :remote => true) %>
  </p>
</div>
