<div id="item_approval" class="alert alert-warning">
  <p>
    <b><%= t('.item_waiting_for_review', item_type: item_type.name) %></b>
    <%= t('.item_approve') %>
  </p>
  <p style="margin-top: 14px;">
    <%= link_to(
          fa_icon(:check, :text => t(".approve")),
          { :controller => "catalog_admin/approvals", :action => "create" },
          :class => "btn btn-success",
          :data => { :disable_with_spinner => true },
          :method => "POST",
          :remote => true) %>

    <%= link_to(
          t(".reject"),
          { :controller => "catalog_admin/approvals", :action => "create" },
          :class => "btn btn-outline-secondary",
          :data => { :disable_with_spinner => true },
          :method => "DELETE",
          :remote => true) %>
  </p>
</div>
