<%= javascript_pack_tag 'catalog-admin-bundle' %>
<%= stylesheet_pack_tag 'catalog-admin-bundle' %>

<% @item.all_fields.each_with_index do |field, i| %>
  <%= field_input(f, field, :autofocus => (i == 0), :style => :compact) %>
<% end %>

<hr>

<div id="item_review">
  <%= render_items_review(@item, f) %>
</div>
