<table class="table">
  <thead>
    <tr>
      <% @fields.each do |field| %>
        <th><%= field.name %></th>
      <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <% @fields.each do |field| %>
          <td><%= field_value(item, field) %></td>
        <% end %>
        <td style="text-align: right">
          TODO
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
