<div class="panel panel-default">
  <div class="panel-heading">
    <b><%= t('.member_in') %></b>
  </div>

  <% if current_user.memberships.count == 0 %>
    <div class="alert alert-warning" style="margin-bottom: 0;">
      <%= t('.no_group_memberships') %>
    </div>
  <% end %>

  <% if current_user.memberships.count > 0 %>
    <table class="table">
    <tbody>
      <% current_user.memberships.each do |membership| %>
        <tr>
          <td>
            <%= membership.group.name %>
            <% if membership.status == 'admin' %>
              <span class="label label-primary">Admin</span>
            <% end %>
          </td>
          <td style="text-align: right;">
            <% unless membership.status == 'admin' %>
              <%= link_to(
                    fa_icon(:'sign-out') + t('.leave'),
                    catalog_admin_group_membership_path(
                      group_id: membership.group.id,
                      id: membership.id
                    ),
                    method: :delete,
                    data: { confirm: t('.delete_confirm', group: membership.group.name) },
                    class: 'btn btn-xs btn-default'
                  ) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>
