<% provide(:title, t('.show_group', group: @group.name)) %>

<div style="margin: 20px 0;"><%= link_to('< ' + t('.back'), groups_path) %></div>

<% unless @group.description.empty? %>
  <div class="panel-body">
    <%= @group.description %>
  </div>
<% end %>

<%= render "groups/list_members" %>

<div style="margin: 20px 0;"><%= link_to('< ' + t('.back'), groups_path) %></div>
