<%# Notice %>
<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<%# Alert %>
<% if flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>

<%# Details %>
<% if flash[:details]&.any? %>
  <div class="alert alert-info">
    <% flash[:details].each do |detail| %>
      <%= detail %><br>
    <% end %>
  </div>
<% end %>