<hr>

<footer>
  <div class="row">
    <div class="col-xs-6">
      <p style="font-size: 80%;">Powered by CATIMA<br>
      <% if ENV["APP_VERSION"] %>Version <%= ENV["APP_VERSION"] %> · <%= Time.zone.now.strftime("%Y") %><% end %></p>
    </div>
    <div class="col-xs-6 text-right">
      <%= image_tag('unilogo_noir_72dpi.png', alt:'UNIL') %>
    </div>
  </div>
</footer>
