<hr>

<footer>
  <div class="row">
    <div class="col-xs-6">
      <p>© CATIMA <%= Time.zone.now.strftime("%Y") %></p>
    </div>
    <div class="col-xs-6 text-right">
      <%= image_tag('unilogo_noir_72dpi.png', alt:'UNIL') %>
    </div>
  </div>
</footer>
