<!-- This is used to retrieve rails locals from coffee or js files. This is not
intended to be used in react components (use the Translations component instead) -->
<div id="localization" style="display: none;"
     data-image-add-legend="<%= t('presenters.field.file.image_add_legend') %>"
     data-file-required="<%= t('presenters.field.file.file_required') %>"
     data-file-not-valid="<%= t('presenters.field.file.file_not_valid') %>">
</div>
