<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= render("shared/navlogo") if catalog_scoped? %>
    </div>
    <%= render("shared/navbar/navbar_catalog") if catalog_scoped? %>
    <%= render("shared/navbar/navbar_user") if user_scoped? %>
  </div>
</div>
