<% provide(:title, "Bienvenue chez CATIMA") %>


<div class="row">
  <div class="col-sm-10">
    <p>Visitez un catalogue::</p>
    <ul>
      <% @catalogs.each do |catalog| %>
        <li><%= link_to(catalog.name, catalog_home_path(catalog)) %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-sm-2 text-end">
    <p>
      <%= link_to("CATIMA admin", admin_dashboard_path) %>
    </p>
  </div>
</div>
