<h4>
  <%= link_to(
    map_popup_title(@item),
    item_path(
      :catalog_slug => @item.catalog.slug,
      :locale => I18n.locale,
      :item_type_slug => @item.item_type.slug,
      :id => @item
    ),
    :target => '_blank') %>
</h4>
