<p>
  <%= link_to(item_url(
  :catalog_slug => @item.catalog.slug,
  :locale => I18n.locale,
  :item_type_slug => @item.item_type.slug,
  :id => @item.id), item_path(
  :catalog_slug => @item.catalog.slug,
  :locale => I18n.locale,
  :item_type_slug => @item.item_type.slug,
  :id => @item.id)) %>
</p>

<% @item.fields.each do |field| %>
  <%= field.field_value_for_item(@item) %><br>
<% end %>
