<p>
  <b><%= @item.item_type.primary_text_field.field_value_for_item(@item).truncate(80) %></b>
</p>

<p>
  <%= link_to(
          t('catalog_admin.items.edit.view-item'),
          item_path(
            :catalog_slug => @item.catalog.slug,
            :locale => I18n.locale,
            :item_type_slug => @item.item_type.slug,
            :id => @item
          ),
          :target => '_blank') %>
</p>
