<%= f.text_field(:name) %>

<hr>

<div id="choices">
  <label>Choices</label>

  <%= f.fields_for(:choices) do |choice| %>
    <%= render("choice_fields", :f => choice) %>
  <% end %>

  <div class="links">
    <%= link_to_add_association(
          fa_icon(:"plus-square", :text => "Add choice"),
          f,
          :choices)%>
  </div>
</div>

<hr>
