<%= f.text_field(:name) %>

<hr>

<div id="choices">
  <label>Choices</label>

  <table class="table table-hover">
    <thead>
      <th>Short name</th>
      <th>Long name (optional)</th>
      <th>
        <% if catalog.categories.any? %>
          Category (optional)
        <% end %>
      </th>
      <th></th>
    </thead>
    <tbody>
      <%= f.fields_for(:choices) do |choice| %>
        <%= render("catalog_admin/choice_sets/choice_fields", :f => choice) %>
      <% end %>
      <tr data-link="choices">
        <td colspan="4">
          <%= link_to_add_association(
                fa_icon(:"plus-square", :text => "Add choice"),
                f,
                :choices,
                :class => "btn btn-text",
                :"data-association-insertion-node" => "[data-link='choices']",
                :partial => 'catalog_admin/choice_sets/choice_fields'
              ) %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
