<% provide(:title, t(".edit_choice_set")) %>

<div class="card-body">
  <%= bootstrap_form_for(
        @choice_set,
        :url => catalog_admin_choice_set_path) do |f| %>

    <%= render("common_form_fields", :f => f) %>

    <%= f.primary(t(".update_choice_set")) %>
    <%= link_to(
          t("cancel"),
          catalog_admin_choice_sets_path,
          :class => "btn btn-link") %>

  <% end %>
</div>
