<% provide(:title, t(".import_choice_set")) %>

<div class="card-body">
  <%= bootstrap_form_tag(url: catalog_admin_import_choice_set_path(@catalog, I18n.locale)) do |f| %>
    <%= f.form_group :file do %>
      <%= f.file_field :file %>
    <% end %>

    <%= f.primary t('.import') %>
  <% end %>
</div>
