<style>
  .content {
    text-align: center;
  }
  .title {
    font-size: 50px;
  }
  .subtitle {
    font-size: 20px;
  }
</style>
<div>
  <div class="content">
    <div class="title">
      <%= t('maintenance.show.title') %>
    </div>
    <div class="subtitle">
      <%= t('maintenance.show.subtitle') %>
    </div>
  </div>
</div>
