<% provide(:extra_nav) do %>
  <% if policy(@page).edit? %>
    <div style="float:right;">
      <%= link_to(edit_catalog_admin_page_path) do %>
        <%= fa_icon(:pencil, :text => "Edit this page") %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% provide(:title, @page.title) %>

<% @page.containers.each do |c| %>
  <% if c.slug %><a name="<%= c.slug %>"></a><% end %>
  <%= container_html(c) %>
<% end %>

