<% provide(:extra_nav) do %>
  <%# TODO: authorize %>
  <div class="alert alert-info" style="text-align: center">
    <%= link_to(edit_catalog_admin_page_path) do %>
      <%= fa_icon(:pencil, :text => "Edit this page") %>
    <% end %>
  </div>
<% end %>

<% provide(:title, @page.title) %>
<%= raw(@page.content) %>
