# PostgreSQL. Versions 8.2 and up are supported.
#
# Install the pg driver:
#   gem install pg
# On OS X with Homebrew:
#   gem install pg -- --with-pg-config=/usr/local/bin/pg_config
# On OS X with MacPorts:
#   gem install pg -- --with-pg-config=/opt/local/lib/postgresql84/bin/pg_config
# On Windows:
#   gem install pg
#       Choose the win32 build.
#       Install PostgreSQL and put its /bin directory on your path.
#
# Configure Using Gemfile
# gem 'pg'
#
development:
  adapter: postgresql
  encoding: unicode
  database: <%= ENV.fetch('POSTGRES_DB', 'catima_development') %>
  host: <%= ENV.fetch('POSTGRES_HOST',  'localhost') %>
  username: <%= ENV.fetch('POSTGRES_USER', nil) %>
  password: <%= ENV.fetch('POSTGRES_PASSWORD', nil) %>
  port: <%= ENV.fetch('POSTGRES_PORT', 5432) %>
  min_messages: WARNING
  pool: 5

staging:
  adapter: postgresql
  encoding: unicode
  database: <%= ENV.fetch('POSTGRES_DB', 'catima_staging') %>
  host: <%= ENV.fetch('POSTGRES_HOST',  'localhost') %>
  username: <%= ENV.fetch('POSTGRES_USER', nil) %>
  password: <%= ENV.fetch('POSTGRES_PASSWORD', nil) %>
  port: <%= ENV.fetch('POSTGRES_PORT', 5432) %>
  min_messages: WARNING
  pool: 5

production:
  adapter: postgresql
  encoding: unicode
  database: <%= ENV.fetch('POSTGRES_DB', 'catima_production') %>
  host: <%= ENV.fetch('POSTGRES_HOST',  'localhost') %>
  username: <%= ENV.fetch('POSTGRES_USER', nil) %>
  password: <%= ENV.fetch('POSTGRES_PASSWORD', nil) %>
  port: <%= ENV.fetch('POSTGRES_PORT', 5432) %>
  min_messages: WARNING
  pool: 5

# Warning: The database defined as "test" will be erased and
# re-generated from your development database when you run "rake".
# Do not set this db to the same as development or production.
test:
  adapter: postgresql
  encoding: unicode
  database: <%= ENV.fetch('POSTGRES_DB', 'catima_test') %>
  host: <%= ENV.fetch('POSTGRES_HOST',  'localhost') %>
  username: <%= ENV.fetch('POSTGRES_USER', nil) %>
  password: <%= ENV.fetch('POSTGRES_PASSWORD', nil) %>
  port: <%= ENV.fetch('POSTGRES_PORT', 5432) %>
  min_messages: WARNING
  pool: 5
