<% provide(:title, "Oups. Une erreur est survenue.") %>

<p>Une erreur inattendue s'est produite. Les responsables ont été avertis et vérifieront le système.</p>

<p><a href="/">Page d'accueil CATIMA</a></p>

