.description {
  margin-top: 15px;
}

.calendar-button-container {
    display: inline-block;
    margin-left: 5px;
}

.calendar-button-container a {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 22px;
    padding: 4px 0;
}

.calendar-button-container a .glyphicon {
    font-size: 16px;
    vertical-align: middle;
    height: 22px;
    width: 22px;
}

.dateTimeInput {
  .hidden-datepicker {
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden;

    input {
      position: absolute;
      z-index: -1;
      bottom: 0;
      opacity:0;
      filter:alpha(opacity=0);
    }
  }
}
