.description {
  margin-top: 15px;
}

.calendar-button {
    height: 30px;
    width: 30px;
    padding: 3px;
    display: inline-block;
    vertical-align: middle;
}

.glyphicon-calendar {
    font-size: 22px;
    vertical-align: middle;
    height: 22px;
    width: 22px;
}
