.ant-select {
  width: 100%;

  .ant-select-selection {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: hsl(0,0%,100%);
    border-color: hsl(0,0%,80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 38px;
    outline: 0 !important;
    position: relative;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    box-sizing: border-box;

    &:hover {
      border-color: hsl(0,0%,70%);
      color: hsl(0,0%,70%);
    }
  }

  .ant-select-open {
    .ant-select-selection {
      background-color: hsl(0,0%,100%)
    }
  }

  .ant-select-arrow {
    height: 20px;
    width: 28px;
    top: 0;
    position: relative;
    border-left: 1px solid hsl(0,0%,80%);
    margin: 0;
    font-size: 14px;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: 5px;
      margin-top: 2px;
      transform: translate(-50%, -50%);
    }
  }

  .ant-select-selection__clear {
    width: 20px;
    height: 20px;
    margin-top: -8px;
    right: 9px;

    i {
      font-size: 16px;
    }
  }
}

.ant-select-selection--multiple {
  .ant-select-selection__rendered {
    width: 100%;
    padding-left: 4px;
  }

  .ant-select-selection__choice__remove {
    top: 2px;
  }
}

.ant-select-tree {
  li {
    .ant-select-tree-node-content-wrapper {
      &:hover {
        background-color: #f0f0f0 !important;
      }
    }

    .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected {
      background-color: #f0f0f0 !important;
    }
  }
}
