.formatted-text .ql-align-right {
  text-align: right;
}

.formatted-text .ql-align-center {
  text-align: center;
}

.formatted-text .ql-align-justify {
  text-align: justify;
}

/* Revert bootstrap styles for Quill. */
.ql-toolbar.ql-snow {
  line-height: normal;
  svg {
      vertical-align: initial;
  }
}

/* Used for Quill to correctly display unordered and ordered lists. */
li[data-list="bullet"] {
  list-style-type: disc;
}

li[data-list="ordered"] {
  list-style-type: decimal;
}
