// Override Bootstrap remove trailing margin when group is in a table cell
.table td .form-group:last-child {
  margin-bottom: 0;
}

.file-upload td {
  padding: 5px 15px 5px 5px;
}
.file-upload tr:hover {
  background-color: #eee;
}

.file-upload path {
  fill: '#f00';
}

textarea[data-field-type="file"] {
  display: none;
}
textarea[data-field-type="datetime"] {
  display: none;
}

form > .form-group {
  margin-top: 20px;
  margin-bottom: 0;
}

.form-inline > .form-group {
  margin: 0;
}

.form-component .row {
  margin-top: 20px;
}

.form-group.file-upload {
  margin-top: 0;
}

.red {
  color: #f00;
}

.rails-bootstrap-forms-datetime-select input {
  display: inline-block;
  margin: 3px;
}

input.input-2 {
  width: 60px;
}
input.input-4 {
  width: 80px;
}
input.margin-right {
  margin-right: 10px;
}

button[data-active=true] {
  color: #eee;
  background-color: #666;
  border-color: #adadad;
}
button[data-active=true]:hover {
  color: #eee;
  background-color: #444;
  border-color: #adadad;
}
button[data-active=true]:focus {
  color: #eee;
  background-color: #444;
  border-color: #adadad;
}
.example {
  margin-top: 5px;
}
.colorButtonWrapper {
  display: inline-block;
  margin-left: 10px;
  font-size: 80%;
}
.colorButton {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

/*** Single reference editor styles ***/

.referenceEditor {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

.referenceEditor .input-group-addon {
  min-width: 80px;
  padding: 0;
  border: 0;
}

.referenceEditor .single-reference-filter .css-1hwfws3, .referenceEditor .single-reference .css-1wy0on6, .referenceEditor .single-reference-filter .css-d8oujb {
  display: none;
}

.referenceEditor .single-reference-filter .css-1wy0on6 {
  position: absolute;
  right: 0;
}

.referenceEditor .single-reference-filter .css-11unzgr div {
  text-align: left;
}

.referenceEditor .single-reference .css-2o5izw {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.referenceEditor .single-reference-filter .css-vj8t7z {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid #CCCCCC;
}

.referenceEditor .single-reference .css-vj8t7z {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

}

.referenceEditor .css-vj8t7z:hover {
border-color: #CCCCCC;
}

.referenceEditor .multiple-selection-container .availableReferences .form-control, .referenceEditor .multiple-selection-container .selectedReferences .form-control {
  border: none;
  border-radius: 0;
}

.referenceEditor .multiple-selection-container .css-vj8t7z, .referenceEditor .multiple-selection-container .css-2o5izw {
  margin-bottom: 20px;
}
