// Override Bootstrap remove trailing margin when group is in a table cell
.table td .form-group:last-child {
  margin-bottom: 0;
}

/*div.dropzone {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  max-width: 200px;
}
div.dropzone-multiple {
  width: 100%;
  max-width: 100%;
}
.dz-message {
  color: #999;
}
.dropzone .dz-preview.dz-image-preview {
  background-color: #f0f0f0;
}*/
.file-upload td {
  padding: 5px 15px 5px 5px;
}
.file-upload tr:hover {
  background-color: #eee;
}

.file-upload path {
  fill: '#f00';
}

textarea[data-field-type="file"] {
  display: none;
}
textarea[data-field-type="datetime"] {
  display: none;
}
/*.form-group-dropzone {
  margin-top: -15px;
}*/
.red {
  color: #f00;
}

.rails-bootstrap-forms-datetime-select input {
  display: inline-block;
  margin: 3px;
}

input.input-2 {
  width: 60px;
}
input.input-4 {
  width: 80px;
}
input.margin-right {
  margin-right: 10px;
}
