// Override Bootstrap remove trailing margin when group is in a table cell
.table td .form-group:last-child {
    margin-bottom: 0;
}

.file-upload td {
    padding: 5px 15px 5px 5px;
}
.file-upload tr:hover {
    background-color: #eee;
}

.file-upload path {
    fill: '#f00';
}

textarea[data-field-type="file"] {
    display: none;
}
textarea[data-field-type="datetime"] {
    display: none;
}

form > .form-group,
form > .form-component{
    margin-top: 20px;
    margin-bottom: 0;
}

.form-inline > .form-group {
    margin: 0;
}

.form-component .row {
    margin-top: 20px;
}

.form-group.file-upload {
    margin-top: 0;
}

.red {
    color: #f00;
}

.rails-bootstrap-forms-datetime-select input {
    display: inline-block;
    margin: 3px;
}

input.input-2 {
    width: 60px;
}
input.input-4 {
    width: 80px;
}
input.margin-right {
    margin-right: 10px;
}

button[data-active=true] {
    color: #eee;
    background-color: #666;
    border-color: #adadad;
}
button[data-active=true]:hover {
    color: #eee;
    background-color: #444;
    border-color: #adadad;
}
button[data-active=true]:focus {
    color: #eee;
    background-color: #444;
    border-color: #adadad;
}
.example {
    margin-top: 5px;
}
.colorButtonWrapper {
    display: inline-block;
    margin-left: 10px;
    font-size: 80%;
}
.colorButton {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.clearable-input {
  display: inline-block;

  .input-group {
    border: 1px solid #ccc;
    border-radius: .25rem;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

    &:focus-within {
      border-color: #66afe9;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }

    input[type="search"] {
      border: none;

      &:focus {
        box-shadow: none;
        border: none;
      }
    }

    .input-group-addon {
      background: none;
      border: none;
    }
  }
}

.search-container {
  .component-search-row {
    margin-bottom: 10px;
  }

  a {
     &:hover {
       cursor: pointer;
     }
  }

  .icon-container {
    position: relative;
    height: 38px;

    a {
      display: table;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .reference-search-container {
      .reference-input-container {
        padding: 0;
      }

      .condition-input-container {
        padding-right: 0;

        .col-md-12 {
          padding-right: 0;
        }
      }
  }

  .datetime-search-container {
    .condition-input-container {
      .col-md-12 {
        padding-right: 0;
      }
    }
  }
}

/* Makes choice set dropdown go over other elements */
.css-10nd86i {
    .css-15k3avv {
        z-index: 401;
    }

    .css-11unzgr {
        z-index: 401;
    }
}
