// Override Bootstrap to ensure locale prefixes have equal widths
.input-group-addon {
  min-width: 3em;
}

.hidden-children-inputs textarea {
  display: none;
}

.formatted-text-input {
  margin-top: -15px;
  margin-bottom: 15px;
}
