// Tweak bootstrap styles to eliminate unwanted bottom margin
.card-body > *:last-child {
  margin-bottom: 0;
}

.panel-default {
  overflow-y: auto;
}

.card-header {
  padding: 15px 15px;
}

div.formatted-text span.footnote {
  display: none;
}
div.formatted-text sup.footnote-ref {
  cursor: pointer;
  color: #428bca;
}
div.formatted-text span.endnote {
  display: none;
}
div.formatted-text {
  max-height: 500px;
  overflow: hidden;
}

table.endnotes td:nth-of-type(1) {
  padding-right: 5px;
}
table.endnotes tr:nth-of-type(1) td:nth-of-type(1) {
  border-top: 1px solid #999;
}

table.endnotes td {
  padding-top: 5px;
}
table.endnotes td p {
  margin-bottom: 5px;
}
table.endnotes td p:nth-of-type(1) {
  margin: 0;
}

// style for Quill table module
table[table_id] {
  width: 100%;
  border-collapse: collapse;
}
td[cell_id] {
  border: 1px solid #ddd !important;
  padding: 0 5px;
  line-height: normal;
}
td[cell_id] p {
  margin: 5px;
}
