<% provide(:title, t('.new_for_type', :item_type_slug => @item_type.slug)) %>

<div class="card-body">
  <%= bootstrap_form_for([:catalog_admin, @item_view]) do |f| %>

    <%= render("common_form_fields", :f => f) %>

    <%= f.primary(t('.create')) %>
    <%= link_to(
          t('cancel'),
          catalog_admin_item_type_fields_path,
          :class => "btn btn-link"
        )%>

  <% end %>
</div>
