<% provide(:title, "New item view for type #{@item_type.slug}") %>

<div class="panel-body">
  <%= bootstrap_form_for([:catalog_admin, @item_view]) do |f| %>

    <%= render("common_form_fields", :f => f) %>

    <%= f.primary("Create item view") %>
    <%= link_to(
          "Cancel",
          catalog_admin_item_type_fields_path,
          :class => "btn btn-link") %>

  <% end %>
</div>
