<% provide(:title, t('.edit_group')) %>

<div class='panel-body'>
  <%= bootstrap_form_for(@group, url: catalog_admin_group_path) do |f| %>

    <%= render('common_form_fields', :f => f) %>

    <%= f.primary(t('.update_group')) %>
    <%= link_to(
          t('cancel'),
          catalog_admin_users_path,
          class: 'btn btn-link') %>

  <% end %>
</div>
