<div class="card-body">
  <%= bootstrap_form_for([:admin, @configuration], :layout => :inline) do |f| %>
    <label class="me-2">Home page:</label>

    <div class="mx-0 px-0">
      <%= configuration_root_mode_choices(f) %>
    </div>

    <div class="me-2 px-0">
      <%= configuration_redirect_choices(f) %>
    </div>

    <%= f.primary("Save") %>
  <% end %>
</div>
