<div class="card-body">
  <%= bootstrap_form_for([:admin, @configuration], :layout => :inline) do |f| %>
    <label>Home page:</label>
    <%= configuration_root_mode_choices(f) %>
    <%= configuration_redirect_choices(f) %>
    <%= f.primary("Save") %>
  <% end %>
</div>
