tr.first {
  border-top: solid grey 2px;
  border-left: solid grey 2px;
  border-right: solid grey 2px;
}

tr.middle {
  border-left: solid grey 2px;
  border-right: solid grey 2px;
}

tr.last {
  border-top: solid grey 2px;
}