<div class="favorite-options">
  <span class="media-buttons">
    <%= render "items/buttons", :item => item %>
  </span>
  <span class="media-tags">
    [
    <span class="label label-info"><%= item.catalog.name %></span>
    ]
  </span>
</div>