<% item_list.items.each_slice(4).with_index do |items, row| %>
  <div class="row">
    <% items.each_with_index do |item, col| %>
      <div class="col-md-3 col-xs-6">
        <div class="grid-item">
          <h4 class="grid-title">
            <%= item_list_link(item_list, item, row * col, item_display_name(item)) %>
          </h4>
          <div class="grid-summary">
            <%= item_summary(item) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
