<% if container.sort_field.present? %>
  <%= react_component('Line/components/Line', {
    sort: define_sort_direction(params[:sort] || container.sort),
    url: [page_path(@page), "/#{container.id}/items_for_line/", params[:sort] ? "?sort=#{params[:sort]}" : ""].join,
    currentPage: params[:page] || 1,
    icons: {up: fa_icon("chevron-up"),
            down: fa_icon("chevron-down")},
    links: {
      asc: page_url(
        slug: @page.slug,
        style: "line",
        sort: ItemList::Sort.ascending
      ),
      desc: page_url(
        slug: @page.slug,
        style: "line",
        sort: ItemList::Sort.descending
      )
    },
    pageCount: (item_list.total_count / 24) + 1,
    type: container_sort_field_type(container),
    format: container.sort_field.is_a?(Field::DateTime) ? container.sort_field.format : false,
  }) %>
<% else %>
  <div class="alert alert-danger">
    <div class="d-flex justify-content-center align-items-center">
      <%= t('containers.item_list.missing_sort_field', container_slug: container&.slug) %>
    </div>
  </div>
<% end %>
