<% item_list.items.each_slice(4).with_index do |items, row| %>
  <div class="row">
    <% items.each_with_index do |item, col| %>
      <div class="col-lg-3 col-sm-6">
        <div class="card thumbnail">
          <%= item_list_link(item_list, item, row * col) do %>
            <%= item_thumbnail(item, :style => :medium) %>
          <% end %>
          <div class="caption">
            <%= item_list_link(item_list, item, row * col, item_display_name(item)) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
