<% provide(:title, item_type.name_plural) %>

<table class="table table-bordered">
  <thead>
    <tr>
      <% item_type.list_view_fields.each do |field| %>
        <th><%= field.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <% item_type.list_view_fields.each do |field| %>
          <td><%= field_value(item, field) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
