#allowed-formats span {
    margin-left: 5px;
    color: grey;
    font-size: 13px;
}
#allowed-formats {
    margin-bottom: 10px;
}


span.error.helptext {
  font-size: 12px;
  color: #f00;
  font-weight: 700;
}
