<div class="row">
  <div class="col-xs-8">
<%= f.collection_select(
      :choice_set_id,
      f.object.choice_set_choices,
      :id,
      :name,
      :label => t('.choice_set')) %>
  </div>
  <div class="col-xs-4" style="padding-top: 25px; margin-left: -15px;">
    <a class="btn btn-sm btn-default" data-toggle="modal" data-target="#new-choice-set-modal" href="#"><span class="glyphicon glyphicon-plus"></span> <%= t('.new_choice_set') %></a>
  </div>
</div>