<hr>

<h4><%= t(".bounds") %></h4>
<%= f.form_group(
    :bounds,
    :help => t(".bounds_help")
) do %>
  <%= f.hidden_field(:bounds) %>
  <%= react_component('GeoBounds', props: { bounds: f.object.default_bounds(-145, 185, -60, 70) }) %>
<% end %>
