<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav me-auto">
      <div class="navbar-brand"><%= t(".user_settings") %></div>
  </ul>
  <ul class="nav navbar-nav">
    <%= render("shared/navbar/locale_menu") if params[:locale] %>
    <%= render("shared/navbar/user_menu") %>
  </ul>
</div><!--/.nav-collapse -->
