<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav navbar-right">
    <%= render("shared/navbar/locale_menu") if params[:locale] %>
    <%= render("shared/navbar/user_menu") %>
  </ul>
</div><!--/.nav-collapse -->