.referenceEditor .wrapper {
  height: 300px;
  width: 100%;
  position: relative;
  overflow-y: hidden;
  padding: 5px;
}

.referenceEditor .availableReferences {
  width: calc(50% - 50px);
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow-y: scroll;
  border: 1px solid #ccc;
}

.referenceEditor .referenceControls {
  width: 100px;
  height: 100%;
  position: absolute;
  left: calc(50% - 50px);
  top: 0;
  background-color: #eee;
}

.referenceEditor .selectedReferences {
  width: calc(50% - 50px);
  height: 100%;
  position: absolute;
  left: calc(50% + 50px);
  top: 0;
  overflow-y: scroll;
  border: 1px solid #ccc;
}

.referenceEditor .item {
  padding: 3px 5px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  cursor: pointer;
}

.referenceEditor .item:hover {
  background-color: #f0f0f0;
}

.referenceEditor .item.highlighted {
  background-color: rgba(255, 215, 65, 0.5);
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
}

.referenceControls {
  padding: 10px;
  position: relative;
}

.referenceControls .btn {
  display: block;
  margin: 10px;
}

.referenceEditor {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.referenceEditor .css-15k3avv, .reference-search-container .css-15k3avv {
    z-index: 1001;
    text-align: left;
}

.referenceEditor .single-reference-container .input-group-addon {
    min-width: 10em;
    padding: 0;
    border: 0;
}

.referenceEditor .single-reference .css-1wy0on6, .referenceEditor .single-reference-filter .css-d8oujb {
    display: none;
}

.referenceEditor .single-reference-filter .css-vj8t7z {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid #CCCCCC;
}

.referenceEditor .single-reference-filter .css-2o5izw {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.referenceEditor .single-reference .css-vj8t7z {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.referenceEditor .single-reference .css-2o5izw {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.referenceEditor .css-vj8t7z:hover {
    border-color: #CCCCCC;
}

.referenceEditor .multiple-reference-container .availableReferences .form-control, .referenceEditor .multiple-reference-container .selectedReferences .form-control {
    border: none;
    border-radius: 0;
}

.referenceEditor .multiple-reference-container .css-vj8t7z, .referenceEditor .multiple-reference-container .css-2o5izw {
    margin-bottom: 20px;
}

.referenceEditor .multiple-reference-filter .css-vj8t7z {
    border-left: 1px solid #CCCCCC;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0;
    margin: 0;
}

.referenceEditor .multiple-reference-filter .css-2o5izw {
    border-left: 1px solid #CCCCCC;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
}

.referenceEditor .multiple-reference-filter .css-d8oujb {
    display: none;
}

.referenceEditor .multiple-reference-container .input-group-addon {
    padding: 0;
    border: none;
    background-color: #FFFFFF;
    min-width: 9em;
}

.referenceEditor .multiple-reference-container .input-group {
    border-bottom: 1px solid #CCCCCC;
}

.referenceEditor .multiple-reference-container .input-group .form-control {
    height: 38px;
    line-height: 38px;
}

.referenceEditor .multiple-reference-container .form-control:focus {
    box-shadow: none;
}
