.referenceEditor .wrapper {
  height: 300px;
  width: 100%;
  position: relative;
  overflow-y: hidden;
  padding: 5px;
}

.referenceEditor .availableReferences {
  width: calc(50% - 50px);
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow-y: scroll;
  border: 1px solid #ccc;
}

.referenceEditor .referenceControls {
  width: 100px;
  height: 100%;
  position: absolute;
  left: calc(50% - 50px);
  top: 0;
  background-color: #eee;
}

.referenceEditor .selectedReferences {
  width: calc(50% - 50px);
  height: 100%;
  position: absolute;
  left: calc(50% + 50px);
  top: 0;
  overflow-y: scroll;
  border: 1px solid #ccc;
}

.referenceEditor .item {
  padding: 3px 5px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  cursor: pointer;
}

.referenceEditor .item:hover {
  background-color: #f0f0f0;
}

.referenceEditor .item.highlighted {
  background-color: rgba(255, 215, 65, 0.5);
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
}

.referenceControls {
  padding: 10px;
  position: relative;
}

.referenceControls .btn {
  display: block;
  margin: 10px;
}

.referenceEditor .css1pahdxg-control, .reference-search-container .css1pahdxg-control,
.referenceEditor .select__menu, .reference-search-container .select__menu,
.single-reference-filter {
    text-align: left;
}

.select__menu.css-26l3qy-menu,
.referenceEditor .css-26l3qy-menu,
.reference-search-container .css-26l3qy-menu {
    z-index: 1001; /*  ensure menu over the map  */
}

.referenceEditor .single-reference-container .input-group-addon {
    min-width: 10em;
    padding: 0;
    border: 0;
}

.referenceEditor .single-reference .css-tlfecz-indicatorContainer,
.referenceEditor .single-reference-filter .css-1okebmr-indicatorSeparator,
.referenceEditor .single-reference .css-1okebmr-indicatorSeparator {
    display: none;
}

.referenceEditor .single-reference-filter .css-yk16xz-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid #CCCCCC;
}

.referenceEditor .single-reference-filter .css1pahdxg-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.referenceEditor .single-reference .css-yk16xz-control {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.referenceEditor .single-reference .css1pahdxg-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.referenceEditor .css-yk16xz-control:hover {
    border-color: #CCCCCC;
}

.referenceEditor .multiple-reference-container .availableReferences .form-control, .referenceEditor .multiple-reference-container .selectedReferences .form-control {
    border: none;
    border-radius: 0;
}

.referenceEditor .multiple-reference-container .css-yk16xz-control, .referenceEditor .multiple-reference-container .css1pahdxg-control {
    margin-bottom: 20px;
}

.referenceEditor .multiple-reference-filter .css-yk16xz-control {
    border-left: 1px solid #CCCCCC;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0;
    margin: 0;
}

.referenceEditor .multiple-reference-filter .css1pahdxg-control {
    border-left: 1px solid #CCCCCC;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
}

.referenceEditor .multiple-reference-filter .css-1okebmr-indicatorSeparator {
    display: none;
}

.referenceEditor .multiple-reference-container .input-group-addon {
    padding: 0;
    border: none;
    background-color: #FFFFFF;
    min-width: 9em;
}

.referenceEditor .multiple-reference-container .input-group {
    border-bottom: 1px solid #CCCCCC;
}

.referenceEditor .multiple-reference-container .input-group .form-control {
    height: 38px;
    line-height: 38px;
}

.referenceEditor .multiple-reference-container .form-control:focus {
    box-shadow: none;
}
