@import 'jquery.fileupload';
@import 'jquery.fileupload-ui';
@import 'jquery.minicolors';

.data-search {
  margin-bottom: 20px;
}

.disable_link {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}
