//= require jquery.fileupload
//= require jquery.fileupload-ui
//= require jquery.minicolors

/*
Summernote Rails CSS does not load correctly the Summernote font.
In vendor/assets/stylesheets is a the original summernote.css file
that we are including here instead of the one from the gem
*/
//= require summernote/summernote

.data-nav .pb-1 {
  left: 15px;
}
.data-nav .pb-2 {
  right: 15px;
}
.data-nav {
  display: block;
  height: 30px;
}
.data-nav span {
  position: absolute;
}
.data-search {
  margin-bottom: 20px;
}
