@import "bootstrap-sprockets";
@import "bootstrap";


$font-stack: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
$link-color: #2262AE;
$link-color-active: #134784;


body {
  background-color: #fff;
  font: 100% $font-stack;
  font-size: 13px;
  line-height: 18px;
}


p, ol, ul, td {
}


a {
  color: $link-color;

  &:visited {
    color: $link-color;
  }

  &:hover {
    color: $link-color-active;
  }
}


h1 {
  font-size: 300%;
  font-weight: 200;
}

h2 {
  font-size: 160%;
  font-weight: 700;
}

.container > table {
  margin-top: 25px;
}
.container > table td,th{
  padding: 2px 15px 2px 0;
  vertical-align: top;
}
.container > table tr{
}


footer{
  text-align: center;
  font-size: 80%;
  border-top: 1px solid #ddd;
  margin-top: 30px;
}



.post-control{
  display: inline;
  width: 50%;
}