<% permissions.each do |perm| %>
  <tr>
    <%= f.fields_for(:catalog_permissions, perm) do |f| %>
      <%= f.hidden_field(:catalog_id) %>
      <th style="vertical-align: middle"><%= perm.catalog.name %></th>
      <td>
        <%= render_users_role_button_bar(f) %>
      </td>
    <% end %>
  </tr>
<% end %>
