<div class="btn-group">
  <% roles.each do |role, _active| %>
    <%= f.radio_button_without_bootstrap(:role, role, autocomplete: "off", class: "btn-check") %>
    <%= f.label :role, role.capitalize, value: role, class: "btn btn-outline-secondary btn-xs px-3" %>
  <% end %>
</div>
