<div class="btn-group" data-toggle="buttons">
  <% roles.each do |role, active| %>
    <label class="btn btn-outline-secondary btn-sm <%= active %>" style="padding-left: 1.5em; padding-right: 1.5em;">
      <%= f.radio_button_without_bootstrap(:role, role, :autocomplete => "off") %>
      <%= role.capitalize %>
    </label>
  <% end %>
</div>
