<div class="card panel-default">
  <ul class="list-group list-group-flush">
    <% catalog.item_types.sorted.includes(:catalog).each do |type| %>
      <%= entry_item_type_nav_link(type) %>
    <% end %>
  </ul>
</div>
