<div class="panel panel-default">
  <div class="panel-heading">Categories</div>
  <ul class="list-group">
    <% catalog.categories.sorted.each do |type| %>
      <%= setup_category_nav_link(type) %>
    <% end %>
  </ul>
  <div class="panel-body">
    <p>
      <%= link_to("javascript:;") do %>
        <%= fa_icon(:"plus-square", :text => "New category") %>
      <% end %>
    </p>
  </div>
</div>
