<p><%= t("common.greeting") %>,</p>

<p>
  <%# TODO: make catalogs hyperlinks %>
  <%= t(".invited_to_access_html",
        :invited_by => @invited_by.email,
        :catalogs => @catalogs.map(&:name).to_sentence,
        :count => @catalogs.count) %>

  <%= t(".catalog_admin_role") %>
</p>

<%= render("account_information") %>
