<p><%= t('common.greeting') %>,</p>

<p>
  <%= t('.invited_to_access_html',
        invited_by: @invited_by.email,
        group: @group.name,
        baseurl: ENV['DOMAIN']) %>
</p>

<%= render('account_information') %>
