<p><%= t("common.greeting") %>,</p>

<p>
  <%= t(".invited_to_access_html",
        :invited_by => @invited_by.email,
        :catalog => link_to(app_host, root_url)) %>

  <%= t(".system_admin_role") %>
</p>

<%= render("account_information") %>
