<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to(
          EntryLog.model_name.human(count: 2),
          admin_catalog_entry_logs_path(@catalog, @catalog.valid_locale),
          class: ["nav-link", ("active" if controller_name == 'entry_logs')],
          "aria-current": "#{controller == 'entry_logs' ? 'page' : ''}"
        ) %>
  </li>
  <li class="nav-item">
    <%= link_to(
          APILog.model_name.human(count: 2),
          admin_catalog_api_logs_path(@catalog, @catalog.valid_locale),
          class: ["nav-link", ("active" if controller_name == 'api_logs')],
          "aria-current": "#{controller == 'api_logs' ? 'page' : ''}"
        ) %>
  </li>
</ul>
