button.ql-import_docx, button.ql-footnote, button.ql-endnote {
  border: 1px solid #ddd !important;
  font-size: 85%;
  width: 125px !important;
  margin-right: 5px;
}
button.ql-import_docx:hover, button.ql-footnote:hover, butotn.ql-endnote:hover {
  background-color: #f0f0f0;
}

span.footnote, span.endnote {
  cursor: pointer;
}

.noteEditor {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #fff;
}
.noteEditor textarea {
  width: 100%;
}
