button.ql-import_docx, button.ql-footnote {
  border: 1px solid #ddd !important;
  font-size: 85%;
  width: 100px !important;
  margin-right: 5px;
}
button.ql-import_docx:hover, button.ql-footnote:hover {
  background-color: #f0f0f0;
}