.fte {
  width: 100%;
  min-height: 50px;
  border: 1px solid #ddd;
  padding: 5px;
}

.editor--toolbar {
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
}

.not-rounded {
  border-radius: 0;
}

span.footnote {
  background-color: #fdd;
}
span.endnote {
  background-color: #ddf;
}

.slate-footnote-plugin--button {
  background-color: #fdd;
}
.slate-endnote-plugin--button {
  background-color: #ddf;
}

.editor--toolbar button {
  margin-bottom: 4px;
  margin-right: -1px;
}
.slate-bold-plugin--button {
  margin-left: 8px;
}
.slate-alignment-plugin--button-bar {
  margin-left: 8px;
  margin-right: 8px;
}
.slate-list-plugin--button-bar {
  margin-left: 8px;
  margin-right: 8px;
}

.slate-import-docx-plugin--button {
  margin-left: 8px;
}
